body{
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}
#center{
    width: 600px;
    min-height: 100%;
    margin: 0px auto;
    background-color: #FBFBFB;
    padding: 30px;
}
input[type=text]{
    width:200px;
}
form label{
    display: block;
}